[submodule "prekernel/limine/limine-protocol"]
	path = externals/limine-protocol
	url = https://github.com/Limine-Bootloader/limine-protocol
[submodule "externals/Flanterm"]
	path = externals/Flanterm
	url = https://github.com/Mintsuki/Flanterm
